<h1>My Connections</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th class="inner_circle">Inner Circle</th>
    </tr>
  </thead>
<% @connections.each_with_index do |c, idx| %>
  <tr>
    <td><%= gravatar_image_tag c.email, gravatar: { size: 25 } %></td>
    <td><%= link_to "#{c.first_name} #{c.last_name}", c %></td>
    <td><%= c.email %></td>
    <td><%= number_to_phone(c.phone) %></td>

<% if idx > (@connections.length / 2.0) %>
    <td class="inner_circle"><%= button_to 'Add to Inner Circle', connections_path(id:c.id), {class: 'button green'} %></td>
<% else %>

    <td class="inner_circle in_circle">✭</td>
<% end %>
  </tr>
<% end %>
</table>
