<h1>My Connections</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><b>Pic</b></th>
      <th><b>Name</b></th>
      <th><b>Email</b></th>
      <th><b>Phone</b></th>
      <th><b>Inner Circle</b></th>
    </tr>
  </thead>
<% @connections.each_with_index do |c, idx| %>
  <tr>
    <td><%= gravatar_image_tag c.email, gravatar: { size: 25 } %></td>
    <td><%= link_to "#{c.first_name} #{c.last_name}", c %></td>
    <td><%= c.email %></td>
    <td><%= number_to_phone(c.phone) %></td>
<% if idx > (@connections.length / 2.0) %>
    <td><%= button_to 'Add to Inner Circle', connections_path(id:c.id) %></td>
<% else %>
    <td>Inner Circle</td>
<% end %>
  </tr>
<% end %>
</table>
