<h1>Contacts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th class="connect">Connected?</th>
    </tr>
  </thead>
<% @contacts.each do |c| %>
  <tr>
    <td><%= gravatar_image_tag c.email, gravatar: { size: 25 } %></td>
    <td><%= link_to "#{c.first_name} #{c.last_name}", c %></td>
    <td><%= c.email %></td>
    <td><%= number_to_phone(c.phone) %></td>

<% if @current_user.present? && @current_user.connected_to?(c) %>
    <td class="connect">✔</td>
<% else %>
    <td class="connect"><%= button_to 'Connect', connections_path(id:c.id), {class: 'button orange'} %></td>
<% end %>

  </tr>
<% end %>
</table>
